@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("assets/Gilroy-font-free/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("assets/Gilroy-font-free/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("assets/Quicksand/static/Quicksand-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
